In [2]:
import mysql.connector
print("Done")

Done

In [3]:
db = mysql.connector.connect(
host="localhost",
user="arjun",
password="wedding9711")
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f76a80ae5e0>

In [4]:
mycursor = db.cursor()

In [7]:
mycursor.execute("CREATE DATABASE AttendanceManager")

In [5]:
mycursor.execute("SHOW databases")
for i in mycursor:
    print(i)

('AttendanceManager',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('tester',)

In [31]:
mydb = mysql.connector.connect(
  host="localhost",
  user="arjun",
  password="wedding9711",
  database="AttendanceManager"
) 
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f84abef50a0>

In [32]:
mycur = mydb.cursor()

In [11]:
mycur.execute("CREATE TABLE Students (ID integer NOT NULL AUTO_INCREMENT,EnrollmentNumber BIGINT NOT NULL UNIQUE,Name VARCHAR(255),Course VARCHAR(255),Section VARCHAR(255),SubjectID VARCHAR(255),ImageEncoding BLOB NOT NULL,PRIMARY KEY(ID))")

In [16]:
mycur.execute("SHOW TABLES ")

In [13]:
for i in mycur:
    print(i)

('Students',)

In [17]:
ab = list(mycur)
type(ab)
for i in ab:
    print(i)

('Students',)

In [18]:
mycur.execute("Describe Students")

In [19]:
result = mycur.fetchall()

In [20]:
for i in result:
    print(i)

('ID', b'int', 'NO', 'PRI', None, 'auto_increment')
('EnrollmentNumber', b'bigint', 'NO', 'UNI', None, '')
('Name', b'varchar(255)', 'YES', '', None, '')
('Course', b'varchar(255)', 'YES', '', None, '')
('Section', b'varchar(255)', 'YES', '', None, '')
('SubjectID', b'varchar(255)', 'YES', '', None, '')
('ImageEncoding', b'blob', 'NO', '', None, '')

In [21]:
SubjectsID = {    
    1:["Maths_1","TC","ICIT","Physics","C"],
    2:["Maths_2","POM","DE","DS","DBMS"],
    3:["Maths_3","CA","FEDT","POA","CPP"],
    4:["Maths_4","WT","Java","SE","CN"],
    51:["CG","Ecom","OS","BE"],
    52:["CG","Ecom","OS","ST"],
    53:["CG","Ecom","OS","PHP"],
    61:["DWH_DM","MC","Linux","BI"],
    62:["DWH_DM","MC","Linux","NS"],
    63:["DWH_DM","MC","Linux","NP"],
    64:["DWH_DM","MC","Linux","AI"],
    65:["DWH_DM","MC","Linux","Multimedia"]
}

In [22]:
Subjects = set()

In [23]:
for subjectids in SubjectsID:
    for subjects in SubjectsID[subjectids]:
        Subjects.add(subjects)

In [32]:
Subjects

{'AI',
 'BE',
 'BI',
 'C',
 'CA',
 'CG',
 'CN',
 'CPP',
 'DBMS',
 'DE',
 'DWH_DM',
 'Ecom',
 'FEDT',
 'ICIT',
 'Java',
 'Linux',
 'MC',
 'Maths_1',
 'Maths_2',
 'Maths_4',
 'Multimedia',
 'NP',
 'NS',
 'OS',
 'PHP',
 'POA',
 'POM',
 'Physics',
 'SE',
 'ST',
 'TC',
 'WT'}

In [33]:
for i in Subjects:
    sql = "CREATE TABLE {} (Date DATE, PresentID VARCHAR(255),PRIMARY KEY (Date))".format(i)
    mycur.execute(sql)
    print("Table Created")

Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created
Table Created

In [34]:
mycur.execute("Show tables")

In [35]:
c=0
for i in mycur:
    c+=1
    print(i,c)

('AI',) 1
('BE',) 2
('BI',) 3
('C',) 4
('CA',) 5
('CG',) 6
('CN',) 7
('CPP',) 8
('DBMS',) 9
('DE',) 10
('DS',) 11
('DWH_DM',) 12
('Ecom',) 13
('FEDT',) 14
('ICIT',) 15
('Java',) 16
('Linux',) 17
('MC',) 18
('Maths_1',) 19
('Maths_2',) 20
('Maths_3',) 21
('Maths_4',) 22
('Multimedia',) 23
('NP',) 24
('NS',) 25
('OS',) 26
('PHP',) 27
('POA',) 28
('POM',) 29
('Physics',) 30
('SE',) 31
('ST',) 32
('Students',) 33
('TC',) 34
('WT',) 35

In [36]:
mycur.execute("Describe Students")

In [37]:
res = mycur.fetchall()

In [38]:
for i in res:
    print(i)

('ID', b'int', 'NO', 'PRI', None, 'auto_increment')
('EnrollmentNumber', b'bigint', 'NO', 'UNI', None, '')
('Name', b'varchar(255)', 'YES', '', None, '')
('Course', b'varchar(255)', 'YES', '', None, '')
('Section', b'varchar(255)', 'YES', '', None, '')
('SubjectID', b'varchar(255)', 'YES', '', None, '')
('ImageEncoding', b'blob', 'NO', '', None, '')

In [46]:
mycur.execute("Select * from Students")

In [47]:
for i in mycur:
    print(i)

(1, 1514902018, 'Arjun Bajaj', 'BCA', 'A', '53', b'\xcbsr=N\x91\x04>a\xbe\xf1\xbb\xb7\xed7<:\xc3\xa7="Q%>\xe2k\x8b<r\xe2\xb7\xbd?0\xd1\xbc\x96\xd6k\xbb\x08/\xd8<\x17\xd6\x00=S\xae\xa0=\xc4\xe26\xbc\xd3(\x13>\xbc\x13A\xbc\x83<\x87\xbc\x04b\xc4\xbd\xf4\xc6\xab\xbdGy\x1d>\xbb)\x1e\xbd\xb0\x14H\xbc]\x891=\x1a&\xd5=\xc8\xe0\xcd<\x90d\xb1\xbd`9\xf0\xbdZ-\x9a\xbdi#\xa2<C\xd1\x8f=C\x90x=\xe4\xae\x0c>\x8bw-\xbc\xbe3\xf9=\x1c|\x14\xbd\x0b\xbb\x03>\x95\xed\xa1=r\x7fh=M\xb1#<F+G\xbc\xf8\xa2H=\xc4=\xf9\xbd\x07\xb8\xaf\xbc$\x03$\xbe\x86*\x98\xbd\xac\x12\xc9=2\x83\xc8=\x1a@\xa4=\xdcT\x0b\xbem\x15\xb9=\xe0\xcfc\xbdK\xbd\x1c\xbc\x9d5\x19=sA\xd2\xbb0\xee\x97=\xdf\xfd\xc5<E\x9e\x07\xbe\x97\xdb\xb3=\xa2%\xdb\xbd\xd2S\xd4:\x983!\xbe\xdb\x15\xbf=\xd6\x06\xb9=A\x0b\x89\xbe\x9f\xf9V=\xfc\x15&>\\\xfe\x00=\xe3\xda\xa0=\x8bP]\xbe\xac\xbf\xcb\xbcB\xff0\xbc[\xd2\x94=\xc8W\xe5\xbd\x8a\x8fy=N\x86\x12>+f\x81=\x0c"\x8c=\x9b\x82b\xbdR\xb6\xa6=[\x10\xa9=\x94\xa6x<\xae\r\xef:\xbe\r\xa9\xbd\xf7)/\xbd\xcd\xf6\xb6\xbbX+R=\xfa\xef0\xbd\x1f_\xb5\xbctb\xe4\xbbf{">\xe4\xe3\x03>1\xe3\x13\xbe:\xd6!=\xb0L >~/\xa5\xbd3\xec\xe7\xbb\x15R$\xbd\xe2\x16L\xbdQ&\xab=\xc8\x06<\xbd\xe3C\xe8<q\x80\xa1\xbd\x7f"\x02\xbeM\xfa\x17=\xb5\xed\x0e\xbeU\xd06>G\xb7\x96\xbd\x8a\xeaM<_F\xa5\xbb/\xa8\x81<\xe5\xb8\xe9<\x94\'\x1d>\xec\x0f\x97:\xc3-\xc799\x1dN<\t\xdb\\\xbb\x1eT\x0e\xbe\xbfE\xe9<\xcc\xdd\xbd;=\x05A>\xe6\xa5\x93=\xb8\x07\xbc\xbcq\x8d4=\x9e\x85\x17>\xb1\x91B:\x10\xaa\xd9=v\x97\x17=\ng\x06\xbe')

In [45]:
mycur.execute("Select Course from Students where EnrollmentNumber=1514902018")
for i in mycur:
    print(i)

('BCA',)

In [48]:
mycur.execute("Describe AI")
for i in mycur:
    print(i)

('Date', b'date', 'NO', 'PRI', None, '')
('PresentID', b'varchar(255)', 'YES', '', None, '')

# Just for testing purposes, all changes are reset to NULL

In [175]:
mycur.execute("Insert into AI (Date,PresentID) VALUES (%s,%s)",("2020-11-21","1,2,3,4"))

In [176]:
mydb.commit()

In [188]:
mycur.execute("Select * from AI where PresentID LIKE '%3%'")

In [189]:
abw=list(mycur.fetchall())

In [197]:
str(abw[0][0])

'2020-11-21'

In [4]:
mycur.execute("Alter table Students ADD ImageEncoding BLOB NOT NULL")

In [5]:
mycur.execute("Describe Students")
for i in mycur:
    print(i)

('ID', b'int', 'NO', 'PRI', None, '')
('EnrollmentNumber', b'bigint', 'NO', 'UNI', None, '')
('Name', b'varchar(255)', 'YES', '', None, '')
('Course', b'varchar(255)', 'YES', '', None, '')
('Section', b'varchar(255)', 'YES', '', None, '')
('SubjectID', b'varchar(255)', 'YES', '', None, '')
('ImageEncoding', b'blob', 'NO', '', None, '')

In [15]:
mycur.execute("Select * from Students")
for i in mycur:
    print(i)

(1, 1514902018, 'Arjun Bajaj', 'BCA', 'A', '53', b'\xcbsr=N\x91\x04>a\xbe\xf1\xbb\xb7\xed7<:\xc3\xa7="Q%>\xe2k\x8b<r\xe2\xb7\xbd?0\xd1\xbc\x96\xd6k\xbb\x08/\xd8<\x17\xd6\x00=S\xae\xa0=\xc4\xe26\xbc\xd3(\x13>\xbc\x13A\xbc\x83<\x87\xbc\x04b\xc4\xbd\xf4\xc6\xab\xbdGy\x1d>\xbb)\x1e\xbd\xb0\x14H\xbc]\x891=\x1a&\xd5=\xc8\xe0\xcd<\x90d\xb1\xbd`9\xf0\xbdZ-\x9a\xbdi#\xa2<C\xd1\x8f=C\x90x=\xe4\xae\x0c>\x8bw-\xbc\xbe3\xf9=\x1c|\x14\xbd\x0b\xbb\x03>\x95\xed\xa1=r\x7fh=M\xb1#<F+G\xbc\xf8\xa2H=\xc4=\xf9\xbd\x07\xb8\xaf\xbc$\x03$\xbe\x86*\x98\xbd\xac\x12\xc9=2\x83\xc8=\x1a@\xa4=\xdcT\x0b\xbem\x15\xb9=\xe0\xcfc\xbdK\xbd\x1c\xbc\x9d5\x19=sA\xd2\xbb0\xee\x97=\xdf\xfd\xc5<E\x9e\x07\xbe\x97\xdb\xb3=\xa2%\xdb\xbd\xd2S\xd4:\x983!\xbe\xdb\x15\xbf=\xd6\x06\xb9=A\x0b\x89\xbe\x9f\xf9V=\xfc\x15&>\\\xfe\x00=\xe3\xda\xa0=\x8bP]\xbe\xac\xbf\xcb\xbcB\xff0\xbc[\xd2\x94=\xc8W\xe5\xbd\x8a\x8fy=N\x86\x12>+f\x81=\x0c"\x8c=\x9b\x82b\xbdR\xb6\xa6=[\x10\xa9=\x94\xa6x<\xae\r\xef:\xbe\r\xa9\xbd\xf7)/\xbd\xcd\xf6\xb6\xbbX+R=\xfa\xef0\xbd\x1f_\xb5\xbctb\xe4\xbbf{">\xe4\xe3\x03>1\xe3\x13\xbe:\xd6!=\xb0L >~/\xa5\xbd3\xec\xe7\xbb\x15R$\xbd\xe2\x16L\xbdQ&\xab=\xc8\x06<\xbd\xe3C\xe8<q\x80\xa1\xbd\x7f"\x02\xbeM\xfa\x17=\xb5\xed\x0e\xbeU\xd06>G\xb7\x96\xbd\x8a\xeaM<_F\xa5\xbb/\xa8\x81<\xe5\xb8\xe9<\x94\'\x1d>\xec\x0f\x97:\xc3-\xc799\x1dN<\t\xdb\\\xbb\x1eT\x0e\xbe\xbfE\xe9<\xcc\xdd\xbd;=\x05A>\xe6\xa5\x93=\xb8\x07\xbc\xbcq\x8d4=\x9e\x85\x17>\xb1\x91B:\x10\xaa\xd9=v\x97\x17=\ng\x06\xbe')

In [29]:
mycur.execute("")

ProgrammingError: 1146 (42S02): Table 'AttendanceManager.AI' doesn't exist

In [49]:
mycur.execute("Show tables")
for i in mycur:
    print(i)

('AI',)
('BE',)
('BI',)
('C',)
('CA',)
('CG',)
('CN',)
('CPP',)
('DBMS',)
('DE',)
('DS',)
('DWH_DM',)
('Ecom',)
('FEDT',)
('ICIT',)
('Java',)
('Linux',)
('MC',)
('Maths_1',)
('Maths_2',)
('Maths_3',)
('Maths_4',)
('Multimedia',)
('NP',)
('NS',)
('OS',)
('PHP',)
('POA',)
('POM',)
('Physics',)
('SE',)
('ST',)
('Students',)
('TC',)
('WT',)

In [34]:
mydb = mysql.connector.connect(
  host="localhost",
  user="arjun",
  password="wedding9711",
  database="attendancetest"
) 
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f84abed2df0>

In [35]:
mycur = mydb.cursor()

In [18]:
mycur.execute("Show tables")
for i in mycur:
    #print(i)
    pass

In [36]:
mycur.execute("select * from Students")

In [37]:
for i in mycur:
    print(i)

(1, 1514902018, 'Arjun Bajaj', 'BCA', 'A', '53', b'\xcbsr=N\x91\x04>a\xbe\xf1\xbb\xb7\xed7<:\xc3\xa7="Q%>\xe2k\x8b<r\xe2\xb7\xbd?0\xd1\xbc\x96\xd6k\xbb\x08/\xd8<\x17\xd6\x00=S\xae\xa0=\xc4\xe26\xbc\xd3(\x13>\xbc\x13A\xbc\x83<\x87\xbc\x04b\xc4\xbd\xf4\xc6\xab\xbdGy\x1d>\xbb)\x1e\xbd\xb0\x14H\xbc]\x891=\x1a&\xd5=\xc8\xe0\xcd<\x90d\xb1\xbd`9\xf0\xbdZ-\x9a\xbdi#\xa2<C\xd1\x8f=C\x90x=\xe4\xae\x0c>\x8bw-\xbc\xbe3\xf9=\x1c|\x14\xbd\x0b\xbb\x03>\x95\xed\xa1=r\x7fh=M\xb1#<F+G\xbc\xf8\xa2H=\xc4=\xf9\xbd\x07\xb8\xaf\xbc$\x03$\xbe\x86*\x98\xbd\xac\x12\xc9=2\x83\xc8=\x1a@\xa4=\xdcT\x0b\xbem\x15\xb9=\xe0\xcfc\xbdK\xbd\x1c\xbc\x9d5\x19=sA\xd2\xbb0\xee\x97=\xdf\xfd\xc5<E\x9e\x07\xbe\x97\xdb\xb3=\xa2%\xdb\xbd\xd2S\xd4:\x983!\xbe\xdb\x15\xbf=\xd6\x06\xb9=A\x0b\x89\xbe\x9f\xf9V=\xfc\x15&>\\\xfe\x00=\xe3\xda\xa0=\x8bP]\xbe\xac\xbf\xcb\xbcB\xff0\xbc[\xd2\x94=\xc8W\xe5\xbd\x8a\x8fy=N\x86\x12>+f\x81=\x0c"\x8c=\x9b\x82b\xbdR\xb6\xa6=[\x10\xa9=\x94\xa6x<\xae\r\xef:\xbe\r\xa9\xbd\xf7)/\xbd\xcd\xf6\xb6\xbbX+R=\xfa\xef0\xbd\x1f_\xb5\xbctb\xe4\xbbf{">\xe4\xe3\x03>1\xe3\x13\xbe:\xd6!=\xb0L >~/\xa5\xbd3\xec\xe7\xbb\x15R$\xbd\xe2\x16L\xbdQ&\xab=\xc8\x06<\xbd\xe3C\xe8<q\x80\xa1\xbd\x7f"\x02\xbeM\xfa\x17=\xb5\xed\x0e\xbeU\xd06>G\xb7\x96\xbd\x8a\xeaM<_F\xa5\xbb/\xa8\x81<\xe5\xb8\xe9<\x94\'\x1d>\xec\x0f\x97:\xc3-\xc799\x1dN<\t\xdb\\\xbb\x1eT\x0e\xbe\xbfE\xe9<\xcc\xdd\xbd;=\x05A>\xe6\xa5\x93=\xb8\x07\xbc\xbcq\x8d4=\x9e\x85\x17>\xb1\x91B:\x10\xaa\xd9=v\x97\x17=\ng\x06\xbe')

In [119]:
roll = "01514902018"
if roll.startswith("0"):
    roll = roll[1:]
roll

'1514902018'

In [29]:
#using AttendanceManager
sql="Insert into Students (EnrollmentNumber,Name,Course,Section,SubjectID,ImageEncoding) VALUES (%s,%s,%s,%s,%s,%s)"
val = (1114902018,'Anirudh','BCA','A','53','NoneN')
mycur.execute(sql,val)
mydb.commit()

In [33]:
mycur.execute("Select * from Students")
for i in mycur:
    print(i)

(1, 1514902018, 'Arjun Bajaj', 'BCA', 'A', '53', b'\xcbsr=N\x91\x04>a\xbe\xf1\xbb\xb7\xed7<:\xc3\xa7="Q%>\xe2k\x8b<r\xe2\xb7\xbd?0\xd1\xbc\x96\xd6k\xbb\x08/\xd8<\x17\xd6\x00=S\xae\xa0=\xc4\xe26\xbc\xd3(\x13>\xbc\x13A\xbc\x83<\x87\xbc\x04b\xc4\xbd\xf4\xc6\xab\xbdGy\x1d>\xbb)\x1e\xbd\xb0\x14H\xbc]\x891=\x1a&\xd5=\xc8\xe0\xcd<\x90d\xb1\xbd`9\xf0\xbdZ-\x9a\xbdi#\xa2<C\xd1\x8f=C\x90x=\xe4\xae\x0c>\x8bw-\xbc\xbe3\xf9=\x1c|\x14\xbd\x0b\xbb\x03>\x95\xed\xa1=r\x7fh=M\xb1#<F+G\xbc\xf8\xa2H=\xc4=\xf9\xbd\x07\xb8\xaf\xbc$\x03$\xbe\x86*\x98\xbd\xac\x12\xc9=2\x83\xc8=\x1a@\xa4=\xdcT\x0b\xbem\x15\xb9=\xe0\xcfc\xbdK\xbd\x1c\xbc\x9d5\x19=sA\xd2\xbb0\xee\x97=\xdf\xfd\xc5<E\x9e\x07\xbe\x97\xdb\xb3=\xa2%\xdb\xbd\xd2S\xd4:\x983!\xbe\xdb\x15\xbf=\xd6\x06\xb9=A\x0b\x89\xbe\x9f\xf9V=\xfc\x15&>\\\xfe\x00=\xe3\xda\xa0=\x8bP]\xbe\xac\xbf\xcb\xbcB\xff0\xbc[\xd2\x94=\xc8W\xe5\xbd\x8a\x8fy=N\x86\x12>+f\x81=\x0c"\x8c=\x9b\x82b\xbdR\xb6\xa6=[\x10\xa9=\x94\xa6x<\xae\r\xef:\xbe\r\xa9\xbd\xf7)/\xbd\xcd\xf6\xb6\xbbX+R=\xfa\xef0\xbd\x1f_\xb5\xbctb\xe4\xbbf{">\xe4\xe3\x03>1\xe3\x13\xbe:\xd6!=\xb0L >~/\xa5\xbd3\xec\xe7\xbb\x15R$\xbd\xe2\x16L\xbdQ&\xab=\xc8\x06<\xbd\xe3C\xe8<q\x80\xa1\xbd\x7f"\x02\xbeM\xfa\x17=\xb5\xed\x0e\xbeU\xd06>G\xb7\x96\xbd\x8a\xeaM<_F\xa5\xbb/\xa8\x81<\xe5\xb8\xe9<\x94\'\x1d>\xec\x0f\x97:\xc3-\xc799\x1dN<\t\xdb\\\xbb\x1eT\x0e\xbe\xbfE\xe9<\xcc\xdd\xbd;=\x05A>\xe6\xa5\x93=\xb8\x07\xbc\xbcq\x8d4=\x9e\x85\x17>\xb1\x91B:\x10\xaa\xd9=v\x97\x17=\ng\x06\xbe')
(4, 1114902018, 'Anirudh', 'BCA', 'A', '53', b'NoneN')